@mixin sp-1px($color, $radius:0) {
    // color: $color;
    position: relative;
    &:before {
        position        : absolute;
        content         : "";
        width           : 100%;
        height          : 100%;
        border          : 1px solid $color;
        border-radius   : $radius *2;
        top             : 0;
        left            : 0;
        transform-origin: 0 0;
        z-index         : 99;
        box-sizing      : border-box;
    }
    @media screen and (-webkit-min-device-pixel-ratio:1.5) {
        &:before {
            width    : 150%;
            height   : 150%;
            transform: scale(0.6667);
        }
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        &:before {
            width    : 200%;
            height   : 200%;
            transform: scale(0.5);
        }
    }
    @media screen and (-webkit-min-device-pixel-ratio: 3) {
        &:before {
            width    : 300%;
            height   : 300%;
            transform: scale(0.3333);
        }
    }

}
@mixin sp-1px-side($color, $direction:top, $pseudo:before) {
    position: relative;
    @if $direction == top {
        &:#{$pseudo} {
            width     : 100%;
            height    : 1px;
            border-top: 1px solid $color;
            top       : 0;
            left      : 0;
        }
        @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
            &:#{$pseudo} {
                transform: scaleY(0.6667);
            }
        }
        @media screen and (-webkit-min-device-pixel-ratio: 2) {
            &:#{$pseudo} {
                transform: scaleY(0.5);
            }
        }
        @media screen and (-webkit-min-device-pixel-ratio: 3) {
            &:#{$pseudo} {
                transform: scaleY(0.33333);
            }
        }
    }
    @if $direction == bottom {
        &:#{$pseudo} {
            width        : 100%;
            height       : 1px;
            bottom       : -1px;
            border-bottom: 1px solid $color;
            left         : 0;
        }
        @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
            &:#{$pseudo} {
                transform: scaleY(0.6667);
            }
        }
        @media screen and (-webkit-min-device-pixel-ratio: 2) {
            &:#{$pseudo} {
                transform: scaleY(0.5);
            }
        }
        @media screen and (-webkit-min-device-pixel-ratio: 3) {
            &:#{$pseudo} {
                transform: scaleY(0.3333);
            }
        }
    }
    @if $direction == left {
        &:#{$pseudo} {
            width      : 1px;
            height     : 100%;
            border-left: 1px solid $color;
            top        : 0;
            left       : 0;
        }
        @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
            &:#{$pseudo} {
                transform: scaleX(0.6667);
            }
        }
        @media screen and (-webkit-min-device-pixel-ratio: 2) {
            &:#{$pseudo} {
                transform: scaleX(0.5);
            }
        }
        @media screen and (-webkit-min-device-pixel-ratio: 3) {
            &:#{$pseudo} {
                transform: scaleX(0.3333);
            }
        }
    }
    @if $direction == right {
        &:#{$pseudo} {
            width       : 1px;
            height      : 100%;
            border-right: 1px solid $color;
            top         : 0;
            right       : -1px;
        }
        @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
            &:#{$pseudo} {
                transform: scaleX(0.6667);
            }
        }
        @media screen and (-webkit-min-device-pixel-ratio: 2) {
            &:#{$pseudo} {
                transform: scaleX(0.5);
            }
        }
        @media screen and (-webkit-min-device-pixel-ratio: 3) {
            &:#{$pseudo} {
                transform: scaleX(0.3333);
            }
        }
    }
    &:#{$pseudo} {
        position        : absolute;
        content         : "";
        transform-origin: 0 0;
        z-index         : 99;
    }
}

.sp-1px {
    @include sp-1px($ui-default-border-color);
}
.sp-1px-t {
    @include sp-1px-side($ui-default-border-color,top);
}
.sp-1px-b {
    @include sp-1px-side($ui-default-border-color,bottom);
}
.sp-1px-r {
    @include sp-1px-side($ui-default-border-color,right);
}
.sp-1px-l {
    @include sp-1px-side($ui-default-border-color,left);
}

.sp-1px-lt {
    @include sp-1px-side($ui-default-border-color,left,before);
    @include sp-1px-side($ui-default-border-color,top,after);
}
.sp-1px-rb {
    @include sp-1px-side($ui-default-border-color,right,before);
    @include sp-1px-side($ui-default-border-color,bottom,after);
}
.sp-1px-lr {
    @include sp-1px-side($ui-default-border-color,left,before);
    @include sp-1px-side($ui-default-border-color,right,after);
}
.sp-1px-tb {
    @include sp-1px-side($ui-default-border-color,top,before);
    @include sp-1px-side($ui-default-border-color,bottom,after);
}
