.sp-flex {
    // width              : 100%;
    text-align         : left;
    display            : flex;
    -webkit-box-align  : center;
    -webkit-align-items: center;
    justify-content    : center;
}
.sp-flex-row {
    flex-direction: row;
    box-direction : row;
}
.sp-flex-col {
    box-orient    : vertical;
    flex-direction: column;
}

.sp-flex-primary {
    flex            : 1;
    -webkit-box-flex: 1;
}
