.sp-progress {
    height          : 0.2em;
    background-color: #ddd;
    margin          : 0.9em 0;
    position        : relative;
    dt {
        background-color: #aaa;

    }
    dt,
    dl {
        position: absolute;
        height  : 0.2em;
        display : block;
        &.move {
            transition: width 100ms ease;
        }
    }
    dl {
        background-color: #09BB07;
    }
}
