.sp-pull{
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: auto;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    .sp-pull-zoom{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .sp-pull-zoom-content{
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            .sp-pull-zoom-refresh{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
            .sp-pull-zoom-loadmore{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
    }
    .sp-pull-page{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height:100%;
        background-color: #f2f2f2;
    }
}
