.sp-tab-box {
    @extend .sp-1px-b;
    width              : 100%;
    text-align         : center;
    display            : flex;
    -webkit-box-align  : center;
    -webkit-align-items: center;
    justify-content    : center;
    flex-direction     : row;
    box-direction      : row;
    background-color   : #fff;
    position           : relative;
}
.sp-tab-item {
    @extend .sp-flex-1;
    padding: 0.5em 0;
}
.sp-tab-selected-bar {
    display         : block;
    position        : absolute;
    bottom          : 0;
    left            : 0;
    right           : 50%;
    height          : 2px;
    background-color: #3cc51f;
}
.sp-tab-selected-bar-forward {
    transition: right 0.3s cubic-bezier(.35,0,.25,1),left 0.3s cubic-bezier(.35,0,.25,1) 0.09s;
}
.sp-tab-selected-bar-backward {
    transition: right 0.3s cubic-bezier(.35,0,.25,1) 0.09s,left 0.3s cubic-bezier(.35,0,.25,1);
}
.test-left {
    left : 0 !important;
    right: 50% !important;
}
.test-right {
    left : 50% !important;
    right: 0 !important;
}
