<template name="cell" class="cell-demo">
  <div class="cells-title c8 ">
    带说明的列表项
  </div>
  <div class="cells">
    <div class="cell">
      <div class="cell-bd cell-primary">
        标题文字
      </div>
      <div class="cell-ft">
        说明文字
      </div>
    </div>
  </div>

  <div class="cells-title c8 ">
    带图标、说明的列表项
  </div>
  <div class="cells">
    <div class="cell">
      <div class="cell-hd">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
          alt="" style="width:20px;margin-right:5px;display:block">
      </div>
      <div class="cell-bd cell-primary">
        标题文字
      </div>
      <div class="cell-ft">
        说明文字
      </div>
    </div>
    <div class="cell">
      <div class="cell-hd">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
          alt="" style="width:20px;margin-right:5px;display:block">
      </div>
      <div class="cell-bd cell-primary">
        标题文字
      </div>
      <div class="cell-ft">
        说明文字
      </div>
    </div>
  </div>

  <div class="cells-title c8 ">
    带说明、跳转的列表项
  </div>
  <div class="cells">
    <div class="cell cell-linked">
      <div class="cell-bd cell-primary">
        标题文字
      </div>
      <div class="cell-ft">
        说明文字
      </div>
    </div>
    <div class="cell cell-linked">
      <div class="cell-bd cell-primary">
        标题文字
      </div>
      <div class="cell-ft">
        说明文字
      </div>
    </div>
  </div>

  <div class="cells-title c8 ">
    带图标、说明、跳转的列表项
  </div>
  <div class="cells">
    <div class="cell cell-linked">
      <div class="cell-hd">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
          alt="" style="width:20px;margin-right:5px;display:block">
      </div>
      <div class="cell-bd cell-primary">
        标题文字
      </div>
      <div class="cell-ft">
        说明文字
      </div>
    </div>
    <div class="cell cell-linked">
      <div class="cell-hd">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
          alt="" style="width:20px;margin-right:5px;display:block">
      </div>
      <div class="cell-bd cell-primary">
        标题文字
      </div>
      <div class="cell-ft">
        说明文字
      </div>
    </div>
  </div>

  <div class="cells-title c8 ">
    单选列表项
    <div class="f8 c10">当前选中:{{radio}}</div>
  </div>
  <div class="cells ">
    <notify class="cell clickable" event-name="notify:radio">
      <div class="cell-hd">
        <radio class="default green mr10" :raw.sync="radio" value="单选一"></radio>
      </div>
      <div class="cell-bd cell-primary">
        单选一
      </div>

    </notify>
    <notify class="cell clickable" event-name="notify:radio">
      <div class="cell-hd">
        <radio class="default green mr10" :raw.sync="radio" value="单选二"></radio>
      </div>
      <div class="cell-bd cell-primary">
        单选二
      </div>

  </notify>
    <notify class="cell clickable" event-name="notify:radio">
      <div class="cell-hd">
        <radio class="default green mr10" :raw.sync="radio" value="单选三"></radio>
      </div>
      <div class="cell-bd cell-primary">
        单选三
      </div>

  </notify>
  </div>

  <div class="cells-title c8 ">
    复选列表项
    <div class="f8 c10">当前选中: {{checkbox.join(',')}}</div>
  </div>
  <div class="cells ">
    <notify class="cell clickable" event-name="notify:checkbox">
      <div class="cell-bd cell-primary">
        选项一
      </div>
      <div class="cell-ft">
        <checkbox class="green default" :raw.sync="checkbox" value="选项一"></checkbox>
      </div>
    </notify>
    <notify class="cell clickable" event-name="notify:checkbox">
      <div class="cell-bd cell-primary">
        选项二
      </div>
      <div class="cell-ft">
        <checkbox class="green default" :raw.sync="checkbox" value="选项二"></checkbox>
      </div>
    </notify>
    <notify class="cell clickable" event-name="notify:checkbox">
      <div class="cell-bd cell-primary">
        选项三
      </div>
      <div class="cell-ft">
        <checkbox class="green default" :raw.sync="checkbox" value="选项三"></checkbox>
      </div>
    </notify>
  </div>

  <div class="cells-title c8 ">
    开关
  </div>
  <div class="cells ">
    <div class="cell ">
      <div class="cell-bd cell-primary">
        标题文字
      </div>
      <div class="cell-ft">
        <switch :value.sync="switch.a"></switch>
      </div>
    </div>
  </div>


  <div class="cells-title c8 ">
    表单
  </div>
  <div class="cells ">
    <div class="cell ">
      <div class="cell-hd">
        <label class="demo-label">QQ</label>
      </div>
      <div class="cell-bd cell-primary">
        <input class="input input-noboder" type="number" pattern="[0-9]*" placeholder="请输入QQ号">
      </div>
      <div class="cell-ft">

      </div>
    </div>
    <div class="cell cell-tight">
      <div class="cell-hd">
        <label class="demo-label">验证码</label>
      </div>
      <div class="cell-bd cell-primary">
        <input class="input input-noboder" type="text" placeholder="请输入验证码">
      </div>
      <div class="cell-ft">
        <img class="demo-vcode" src="http://weui.github.io/weui/images/vcode.jpg" alt="">
      </div>
    </div>
    <div class="cell ">
      <div class="cell-hd">
        <label class="demo-label">银行卡</label>
      </div>
      <div class="cell-bd cell-primary">
        <input class="input input-noboder" type="number" pattern="[0-9]*" placeholder="请输入银行卡">
      </div>
      <div class="cell-ft">

      </div>
    </div>
    <div class="cell cell-tight " :class="vcode==''?'cell-danger':'cell-success'">
      <div class="cell-hd">
        <label class="demo-label">验证码</label>
      </div>
      <div class="cell-bd cell-primary">
        <input class="input input-noboder" v-model="vcode" type="text" placeholder="请输入验证码">
      </div>
      <div class="cell-ft ">
        <div v-if="vcode.length<=0" class="demo-icon-danger c15 mr5">!</div>
        <div v-else class="demo-icon-success c15 mr5">
          <i class="fa fa-check demo-icon-check" ></i>
        </div>
      </div>
      <div class="cell-ft">
        <img class="demo-vcode" src="http://weui.github.io/weui/images/vcode.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="cell-tips">
    底部说明文字底部说明文字
  </div>
  <div class="btn-area">
    <button class="btn btn-success btn-block f12">
        提交
    </button>
  </div>


  <div class="cell-title">
    图片上传
  </div>
  <div class="cells">
    <div class="cell">
      <div class="cell-bd cell-primary">
        <div class="uploader">
          <div class="uploader-hd">
            图片上传 <div class="fr">{{file.length}}/9</div>
          </div>
          <div class="uploader-bd">
            <ul>
              <ratio value="100" class="demo-bg-spz col-33" v-for="img in file" :style="img.src|imgurl"></ratio>

            </ul>

            <file accept="image/*" v-ref:imgupload></file>
          </div>
        </div>



      </div>
    </div>
  </div>








</template>
