* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', STHeiti, 'WenQuanYi Micro Hei', SimSun, Helvetica, sans-serif;
}

 .middle-out{
   display: table;
   height: inherit;
   width: 100%;
 }
 .middle-in{
   display: table-cell;
   white-space: nowrap;
   width: 1px;
 }

.webview[name=simplize-browser-web-frame] iframe{
    width: 100%;
    height: 100%;
    margin-top: -@header-height;
    padding-top: @header-height;
    border: none;
    outline: none;
}
.webview-simplize-browser-web-frame .soe-navbar{
  border-bottom: @default-border;
}

.soe-navbar .icon{
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-refresh{
  background-image: url('../img/icons/icon-refresh.png');
}
.icon-back{
  background-image: url('../img/icons/icon-back.png');
}
