// 底层
* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
    user-select: none;
}

input,textarea{
    user-select:text;
}

body {
    line-height: 1.6;
}

a {
    text-decoration: none;
}

img { -webkit-touch-callout: none; }

input::-webkit-input-speech-button {display: none}

.sp-app{
    position: relative;
    width: 100%;
    height: 100%;
}

.css{
    /*设置内嵌的元素在 3D 空间如何呈现：保留 3D*/
    -webkit-transform-style: preserve-3d;
    /*（设置进行转换的元素的背面在面对用户时是否可见：隐藏）*/
    -webkit-backface-visibility: hidden;
}
