.sp-headbars {
    position: absolute;
    left    : 0;
    top     : 0;
    width   : 100%;
    height  : 44px;
    z-index : 100;
    .sp-headbar {
        position  : relative;
        height    : 100%;
        z-index   : 101;
        background-color: #fff;
        width: 100%;
        .sp-headbar-cell{
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            .sp-headbar-item{
                display: inline-block;
            }
        }
        .sp-headbar-left {
            padding-left: $ui-side-padding;
            height      : 100%;
            position    : absolute;
            left        : 0;
            top:0;
            display: table;
        }
        .sp-headbar-right {
            padding-right: $ui-side-padding;
            height       : 100%;
            position     : absolute;
            right        : 0;
            top:0;
            display: table;
        }

        .sp-headbar-center{
            height: 100%;
            display: table;
            width: 100%;
        }
        .sp-icon{
            display: inline-block;
        }
        .sp-headbar-left,
        .sp-headbar-right{
            .sp-text{
                display: inline-block;
            }
        }
    }
    .sp-headbar-temp {
        position: absolute;
        top     : 0;
        left    : 0;
        width   : 100%;
        height  : 100%;
        z-index : 102;
    }
}

.ios {}
.android {}

.sp-headbar-transition{
    transition: transform $page-animate-duration ease;
}
.sp-headbar-enter,
.sp-headbar-leave{
    transform: translate3d(0, -100%, 0);
}

.sp-headbar-transition.left{
    .sp-headbar{
        .sp-animate{
            &.sp-icon{
                animation: HeadbarMoveFadeIn $page-animate-duration ease forwards;
            }
            &.sp-text{
                animation: HeadbarMoveFromRightToCenter $page-animate-duration ease forwards;
            }
        }
        .sp-headbar-left{
            .sp-headbar-item{
                overflow: inherit;
            }
        }
        .sp-headbar-right{
            .sp-headbar-item{
                overflow: hidden;
            }
        }
        .sp-headbar-center .sp-text{
            animation: HeadbarMoveHalfFromRightToCenter $page-animate-duration ease forwards;
        }
    }
    .sp-headbar-temp{
        animation: HeadbarMoveFadeOut $page-animate-duration ease forwards;
        .sp-animate{
            &.sp-icon{
                animation: HeadbarMoveFadeOut $page-animate-duration ease forwards;
            }
            &.sp-text{
                animation: HeadbarMoveFromCenterToLeft $page-animate-duration ease forwards;
            }
        }
        .sp-headbar-left{
            .sp-headbar-item{
                overflow: hidden;
            }
        }
        .sp-headbar-right{
            .sp-headbar-item{
                overflow: inherit;
            }
        }
        .sp-headbar-center .sp-text{
            animation: HeadbarMoveHalfFromCenterToLeft $page-animate-duration ease forwards;
        }
    }
}

.sp-headbar-transition.right{
    .sp-headbar{
        .sp-animate{
            &.sp-icon{
                animation: HeadbarMoveFadeIn $page-animate-duration ease forwards;
            }
            &.sp-text{
                animation: HeadbarMoveFromLeftToCenter $page-animate-duration ease forwards;
            }
        }
        .sp-headbar-left{
            .sp-headbar-item{
                overflow: hidden;
            }
        }
        .sp-headbar-right{
            .sp-headbar-item{
                overflow: inherit;
            }
        }
        .sp-headbar-center .sp-text{
            animation: HeadbarMoveHalfFromLeftToCenter $page-animate-duration ease forwards;
        }
    }
    .sp-headbar-temp{
        animation: HeadbarMoveFadeOut $page-animate-duration ease forwards;
        .sp-animate{
            &.sp-icon{
                animation: HeadbarMoveFadeOut $page-animate-duration ease forwards;
            }
            &.sp-text{
                animation: HeadbarMoveFromCenterToRight $page-animate-duration ease forwards;
            }
        }
        .sp-headbar-left{
            .sp-headbar-item{
                overflow: inherit;
            }
        }
        .sp-headbar-right{
            .sp-headbar-item{
                overflow: hidden;
            }
        }
        .sp-headbar-center .sp-text{
            animation: HeadbarMoveHalfFromCenterToRight $page-animate-duration ease forwards;
        }
    }
}

@keyframes HeadbarMoveFadeIn{
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes HeadbarMoveFadeOut{
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes HeadbarMoveFromRightToCenter{
    from { transform: translate3d(100%, 0, 0); opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}
@keyframes HeadbarMoveFromCenterToLeft{
    from { transform: translate3d(0, 0, 0); opacity: 1; }
    to { transform: translate3d(-100%, 0, 0); opacity: 0; }
}
@keyframes HeadbarMoveFromCenterToRight{
    from { transform: translate3d(0, 0, 0); opacity: 1; }
    to { transform: translate3d(100%, 0, 0); opacity: 0; }
}
@keyframes HeadbarMoveFromLeftToCenter{
    from { transform: translate3d(-100%, 0, 0); opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes HeadbarMoveHalfFromRightToCenter{
    from { transform: translate3d(30%, 0, 0); opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}
@keyframes HeadbarMoveHalfFromCenterToLeft{
    from { transform: translate3d(0, 0, 0); opacity: 1; }
    to { transform: translate3d(-30%, 0, 0); opacity: 0; }
}
@keyframes HeadbarMoveHalfFromCenterToRight{
    from { transform: translate3d(0, 0, 0); opacity: 1; }
    to { transform: translate3d(30%, 0, 0); opacity: 0; }
}
@keyframes HeadbarMoveHalfFromLeftToCenter{
    from { transform: translate3d(-30%, 0, 0); opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}
