@font-face {
    font-family: 'iconfont';
    src        : url(//at.alicdn.com/t/font_1460003668_8144815.eot);
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    /* chrome、firefox */
    /* IE6-IE8 */
    /* IE9*/
    src        : url(//at.alicdn.com/t/font_1460003668_8144815.eot?#iefix) format('embedded-opentype'),url('//at.alicdn.com/t/font_1460003668_8144815.woff') format('woff'),url('//at.alicdn.com/t/font_1460003668_8144815.ttf') format('truetype'),url('//at.alicdn.com/t/font_1460003668_8144815.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont";
    font-size  : 16px;
    font-style : normal;
}
