.sp-modal {
    position: absolute;
    z-index : 999;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    .sp-modal-mask {
        width : 100%;
        height: 100%;
        .sp-modal-masker {
            background-color: #000;
            opacity         : 0.5;
            height          : 100%;
            width           : 100%;
        }
    }

    .sp-modal-outter {
        position: absolute;
        top     : 0;
        left    : 0;
        width   : 100%;
        height  : 100%;
        display : table;
        .sp-modal-inner {
            display       : table-cell;
            height        : 100%;
            vertical-align: middle;
            width         : 100%;
        }
    }
}

.sp-ui-alert {}

.sp-dialog-transition {
    transition: transform 200ms ease,opacity 200ms ease;
    transform : scale(1);
    opacity   : 1;
}
.sp-dialog-enter,
.sp-dialog-leave {
    transform: scale(0.5);
    opacity  : 0;
}
.sp-loading {
    @extend .ib,.sp-spin;
}
