.cells-title {
  padding-left: @default-gunnter;
  padding-right: @default-gunnter;
  margin-top: 0.77em;
  margin-bottom: 0.3em;
  font-size: 1.2rem;
}
.cells {
  background: #fff;
  .hairline-border-single(@default-border,top,after);
  .hairline-border-single(@default-border,bottom,before);
}
.cell {
  user-selct: none;
  font-size: 1.2rem;
  display: flex;
  padding: 0.8rem @default-gunnter;
  align-items: center;
  &:not(:last-child) {
    .hairline-border-single(@default-border,bottom,after);
    &:after {
      left: @default-gunnter;
    }
  }
}
.cell-tips {
  margin-top: 0.3em;
  color: #888;
  padding-left: @default-gunnter;
  padding-right: @default-gunnter;
  font-size: 1rem;
}
//cell body
.cell-bd {
  .select-none;
}
.cell-primary {
  flex: 1;
}
// cell foot
.cell-ft {
  color: #888;
}
// 带连接的cell
.cell-linked {
  .ui-click-highlight;
  .cell-ft {
    &:after {
      content: " ";
      display: inline-block;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      height: 0.5rem;
      width: 0.5rem;
      border-width: 2px 2px 0 0;
      border-color: #C8C8CD;
      border-style: solid;
      position: relative;
      margin-left: 0.3em;
      top: -0.08rem;
    }
  }
}
.cell-select {
  padding: 0;
  padding-right: @default-gunnter;
}
.cell-saparate {
  position: relative;
  padding-right: 2em;
  &:before {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: .5rem;
    width: .5rem;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    position: relative;
    top: 50%;
    position: absolute;
    right: 1.2rem;
    margin-top: -0.25rem;
  }
  &:after {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-right: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
}
// 紧凑型cell  没有上下padding 和 右侧padding 但是有左侧padding
.cell-tight {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
//cell的颜色定义
.cell-danger {
  color: @brand-danger;
}
.cell-success {
  color: @brand-success;
}
