.cells {
  .hairline-border-single(@default-border,top,after);
  .hairline-border-single(@default-border,bottom,before);
}
.cell {
  font-size: 1.2rem;
  display: flex;
  padding: 0.8rem @default-gunnter;
  align-items: center;
}
.cell-bd {
  flex: 1;
}
