.web-headbar{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 3;
}
.web-head{
  height: @headbar-height;
  display: table;
  width: 100%;
  text-align: center;
  position: relative;
}
.web-head-temp{
  position: absolute;
  top: 0;
}

.web-headbar-left,.web-headbar-right{
  position: absolute;
  height: inherit;;
  top: 0;
  display: table;
  z-index: 10;
  .icon-content,.text-content{
    display: table-cell;
    vertical-align: middle
  }
}
.web-headbar-center{
  display:table-cell;
  text-align: center;
  padding: 0 @default-gunnter;
  vertical-align: middle;
  position: relative;
  z-index: 9;
  .web-headbar-center-text{
      display: inline-block;
      position: relative;
      z-index: 10;
      min-width: 30%;
  }
}
.web-headbar-left{
  left: @default-gunnter;
  i{
      margin-right: .5em;
  }
}
.web-headbar-right{
  right: @default-gunnter;
  i{
      margin-left: .5em;
  }
}

.web-headbar{
    .hairline-border-single(1px solid #eee,bottom)
}







.headbar-leave .web-head{ z-index: 3; }
.headbar-leave .web-head-temp{ z-index: 4; }
.headbar-enter .web-head{ z-index: 4; }
.headbar-enter .web-head-temp{ z-index: 3; }
.headbar-transition.slient .web-head-temp{
    display: none;
}

.headbar-enter.move{ animation: headIn @animate-pageChange-duration forwards; }
.headbar-leave.move{ animation: headOut @animate-pageChange-duration forwards; }

.headbar-transition.left{
    .web-head-native{
        z-index: 3;
        .web-headbar-left{
            .icon-content{
                animation: fadeIn @animate-headChange-duration forwards;
            }
            .text-content{
                animation: headbarFromRightToCenter @animate-headChange-duration linear forwards;
            }
        }
        .web-headbar-center{
            .web-headbar-center-text{
                animation: headbarFromRightToCenter @animate-headChange-duration linear forwards;
            }
        }
        .web-headbar-right{
            .text-content{
                animation: headbarFromRightToCenter @animate-headChange-duration linear forwards;
            }
            .icon-content{
                animation: fadeIn @animate-headChange-duration forwards;
            }
        }
    }
    .web-head-temp{
        animation: fadeOut @animate-headChange-duration forwards;
        z-index: 4;
        .web-headbar-left{
            .icon-content{
                animation: fadeOut @animate-headChange-duration forwards;
            }
            .text-content{
                animation: headbarFromCenterToLeft @animate-headChange-duration linear forwards;
            }
        }
        .web-headbar-center{
            .web-headbar-center-text{
                animation: headbarFromCenterToLeft @animate-headChange-duration linear forwards;
            }
        }
        .web-headbar-right{
            .text-content{
                animation: headbarFromCenterToLeft @animate-headChange-duration linear forwards;
            }
            .icon-content{
                animation: fadeOut @animate-headChange-duration forwards;
            }
        }
    }
}

.headbar-transition.right{
    .web-head-native{
        z-index: 3;
        .web-headbar-left{
            .icon-content{
                animation: fadeIn @animate-headChange-duration forwards;
            }
            .text-content{
                animation: headbarFromLeftToCenter @animate-headChange-duration linear forwards;
            }
        }
        .web-headbar-center{
            .web-headbar-center-text{
                animation: headbarFromLeftToCenter @animate-headChange-duration linear forwards;
            }
        }
        .web-headbar-right{
            .text-content{
                animation: headbarFromLeftToCenter @animate-headChange-duration linear forwards;
            }
            .icon-content{
                animation: fadeIn @animate-headChange-duration forwards;
            }
        }
    }
    .web-head-temp{
        animation: fadeOut @animate-headChange-duration forwards;
        z-index: 4;
        .web-headbar-left{
            .icon-content{
                animation: fadeOut @animate-headChange-duration forwards;
            }
            .text-content{
                animation: headbarFromCenterToRight @animate-headChange-duration linear forwards;
            }
        }
        .web-headbar-center{
            .web-headbar-center-text{
                animation: headbarFromCenterToRight @animate-headChange-duration linear forwards;
            }
        }
        .web-headbar-right{
            .text-content{
                animation: headbarFromCenterToRight @animate-headChange-duration linear forwards;
            }
            .icon-content{
                animation: fadeOut @animate-headChange-duration forwards;
            }
        }
    }
}

@keyframes headbarFromRightToCenter{
    from {
        transform: translate3d(100%,0,0);
        opacity: 0.3;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes headbarFromCenterToLeft{
    from {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
    to {
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
    }
}

@keyframes headbarFromLeftToCenter{
    from {
        transform: translate3d(-100%,0,0);
        opacity: 0.3;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes headbarFromCenterToRight{
    from {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
    to {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
}

@keyframes headIn{
    from{
        transform: translate3d(0,-100%, 0);
    }
    to{
        transform: translate3d(0,0,0);
    }
}

@keyframes headOut{
    from{
        transform: translate3d(0,0, 0);
    }
    to{
        transform: translate3d(0,-100%,0);
    }
}
