.sp-ui-rater {
  text-align: left;
  display: inline-block;
  line-height: normal;
}
.sp-ui-rater a {
  display: inline-block;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  color: #ccc;
}
.sp-ui-rater a:last-child {
  padding-right: 2px!important;
  margin-right: 0px!important;
}
.sp-ui-rater-box {
  position: relative;
}
.sp-ui-rater-inner {
  position: relative;
  display: inline-block;
}
.sp-ui-rater-outer {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  overflow: hidden;
}