<div class="sp-spinner-line-scale" v-if="mode=='line-scale'">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="sp-spinner-ball-pulse" v-if="mode=='ball-pulse'">
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="sp-spinner-ball-newton" v-if="mode=='ball-newton'">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="sp-spinner-ios" v-if="mode=='ios'">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
