@charset "UTF-8";
.show {
    display: block !important;
}
.hidden,
.hide {
    display: none !important;
}

.wide {
    width: 100%;
}
.high {
    height: 100%;
}
.ib {
    display: inline-block;
}
.line-height-1 {
    line-height: 1;
}
.middle {
    &:after {
        content       : "";
        height        : 100%;
        display       : inline-block;
        vertical-align: middle;
    }
}
//文本溢出 省略号
.tof {
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}
