@while $util-padding-start <= $util-padding-end {
    $i                 : $util-padding-start;
    .p#{$i} {
        padding: $i * 0.1rem;
    }
    .pl#{$i} {
        padding-left: $i * 0.1rem;
    }
    .pr#{$i} {
        padding-right: $i * 0.1rem;
    }
    .pt#{$i} {
        padding-top: $i * 0.1rem;
    }
    .pb#{$i} {
        padding-bottom: $i * 0.1rem;
    }
    $util-padding-start: $i + $util-padding-step;
}
