@charset "UTF-8";
.psa {
    position: absolute;
}
.psr {
    position: relative;
}
.pslt {
    left: 0;
    top : 0;
}
.psrt {
    right: 0;
    top  : 0;
}
.pslb {
    left  : 0;
    bottom: 0;
}
.psrb {
    right : 0;
    bottom: 0;
}
