/* your code here */



.insert{
    width: 100%;
    height: 1200px;
    padding: 100px;
    background-color: #ff0000;
    color:#fff;
}

.d-icon i{
    width: 2em;
    height: 2em;
    transition: all 300ms linear;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    line-height: 2em;
    display: inline-block;
}

.d-icon.actived i{
    transform: rotate(180deg);
}
