@import "./index";

@font-face {
    font-family: 'iconfont2';
    src        : url(//at.alicdn.com/t/font_1460113699_6535943.eot);
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    /* chrome、firefox */
    /* IE6-IE8 */
    /* IE9*/
    src        : url(//at.alicdn.com/t/font_1460113699_6535943.eot?#iefix) format('embedded-opentype'),url('//at.alicdn.com/t/font_1460113699_6535943.woff') format('woff'),url('//at.alicdn.com/t/font_1460113699_6535943.ttf') format('truetype'),url('//at.alicdn.com/t/font_1460113699_6535943.svg#iconfont') format('svg');
    /* iOS 4.1- */
}
.iconfont2 {
    font-family              : "iconfont2" !important;
    font-style               : normal;
    -webkit-font-smoothing   : antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing  : grayscale;
}
.icon-star:before {
    content: "\e60d";
}
.icon-pragpopup:before {
    content: "\e607";
}
.icon-icon:before {
    content: "\e600";
}
.icon-tip:before {
    content: "\e608";
}
.icon-alignmiddle:before {
    content: "\e610";
}
.icon-checkbox:before {
    content: "\e611";
}
.icon-radio:before {
    content: "\e612";
}
.icon-prompt:before {
    content: "\e609";
}
.icon-clock:before {
    content: "\e613";
}
.icon-datetime:before {
    content: "\e60a";
}
.icon-spinner:before {
    content: "\e614";
}
.icon-pop:before {
    content: "\e60b";
}
.icon-mode:before {
    content: "\e601";
}
.icon-layout:before {
    content: "\e602";
}
.icon-cellmerge:before {
    content: "\e603";
}
.icon-electricrange:before {
    content: "\e615";
}
.icon-sheet:before {
    content: "\e60c";
}
.icon-button:before {
    content: "\e604";
}
.icon-giconpicker:before {
    content: "\e616";
}
.icon-cc-select:before {
    content: "\e60f";
}
.icon-circle:before {
    content: "\e617";
}
.icon-ratio:before {
    content: "\e618";
}
.icon-image:before {
    content: "\e619";
}
.icon-switch:before {
    content: "\e61a";
}
.icon-iconxx2:before {
    content: "\e61b";
}
.icon-progress:before {
    content: "\e61c";
}
.icon-component:before {
    content: "\e605";
}
.icon-exchangexy:before {
    content: "\e606";
}
.icon-iframe:before {
    content: "\e60e";
}
.test1 {
    background: #f5f5f5;
    min-height: 100%;
}
.test2 {
    background: #fffbfb;
    height    : 100%;
}
.bg1 {
    background: rgb(252, 106, 83);
}
.bg2 {
    background: rgb(249, 137, 70);
}
.bg3 {
    background: rgb(35, 143, 251);
}
.radius {
    border-radius: 0.5rem;
}
.sp-webview-content {
    background-color: #fbf9fe;
}
.title {
    color: #61e246;
    span {
        color      : #3cc51f;
        text-shadow: 1px 1px 1px rgba(255,255,255,.9);
    }
}
.green {
    color: #61e246;
}
.demo-modules {
    .sp-flex-item {
        margin-left: 0;
        padding    : 0;
        background : #fff;
        height     : 120px;
    }
}
.demo-title {
    padding: 1.2em 0 0.8em;
}
.sp-headbar .iconfont {
    font-size: 1.5em;
}
.grids {
    font-size: 0.8em;
    color    : #777;
    i {
        font-size: 2em;
        color    : #333;
    }
}
body {
    color: #333;
}
.sp-headbars {
    .sp-headbar {
        background-color: #3cc51f;
        .sp-icon,
        .sp-text {
            color: #fff;
        }
    }
}
.sp-cell-hd i {
    color: #3cc51f;
}
.demo-1px-1 {
    @include sp-1px(red,10px);
}
.demo-1px-2 {
    @include sp-1px-side(blue,top)
}
.demo-1px-3 {
    @include sp-1px-side(pink,left);
    @include sp-1px-side(red,right,after);
}
.demo-defalut-border {
    border: $ui-default-border;
}
.icon_lists {
    overflow: auto;
    li {
        width     : 50%;
        float     : left;
        text-align: center;
        color     : #666;
        i {
            font-size: 2em;
            color    : #3cc51f;
        }
        .name {
            display: none;
        }
    }
}
.p {
    display : inline-block;
    position: relative;
    .word {
        position  : absolute;
        top       : 0;
        left      : 0;
        width     : 100%;
        height    : 100%;
        transition: all 300ms ease;
        &.up {
            transform: rotate(180deg);
        }
        i {
            width      : 100%;
            height     : 100%;
            display    : block;
            text-align : center;
            line-height: 35px;
            color      : #3cc51f;
        }
    }
}
.sp-modal-popup-body {
    padding-bottom: 15px;
    p {
        padding-bottom: 15px;
    }
}
