$page-animate-duration   : 500ms;
$animate-default-duration: 1s;

//ui
$ui-side-padding         : 15px;

//util
$util-fontsize-start     : 5;
$util-fontsize-end       : 35;
//padding
$util-padding-step       : 5;
$util-padding-start      : 5;
$util-padding-end        : 20;
//margin
$util-margin-step        : 5;
$util-margin-start       : 5;
$util-margin-end         : 20;