.scroll-view{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    .scroll-refresh,.scroll-loadmore{
        position: absolute;
        left: 0;
        width: 100%;
    }
    .scroll-refresh{
        top: -100%;
    }
    .scroll-loadmore{
        bottom:-100%;
    }
    .scroll-view-area{
        height: 100%;
        width: 100%;
        overflow: hidden;
        .scroll-page{}
    }
}
