<divider>
    折叠条
</divider>

<collapses>
    <collapse>
        <collapse-trigger class="linked">
            展开标题
        </collapse-trigger>
        <collapse-content>
            <div class="sp-collapse-content-container">
                时光，悄然流转，不觉，又是四月未央。静坐，沏一盏清茗，凭窗遥望，阳光怡暖，清风拂面，又是一年桃花漫舞，绿意初绽。啜一口茶香，低眉，浅笑，看谁家屋檐下一枝旁逸的杏花，淡雅洁白的花蕾，悄然孕育着饱满的喜悦。窗外，风是轻盈的，柔和的，像恋人深情的眸光，温润的滑过面庞；雨是空灵的、细软的，像一缕缕绕指的柔情，翩翩的渗透进心底。杨柳堆烟，燕语呢喃，桃花灼灼，疏香淡淡……最美人间四月天，伫立在满目葱郁的陌上，无论你从哪个角度去欣赏，它都宛若温婉迷人的清词，每一个散落的韵角里，无不点缀着光阴质朴而厚重的暖香。
            </div>
        </collapse-content>
    </collapse>
</collapses>


<divider>
    折叠组,仅展开一个
</divider>

<collapses group>
    <collapse>
        <collapse-trigger class="linked">
            展开标题1
        </collapse-trigger>
        <collapse-content>
            <div class="sp-collapse-content-container">
                时光，悄然流转，不觉，又是四月未央。静坐，沏一盏清茗，凭窗遥望，阳光怡暖，清风拂面，又是一年桃花漫舞，绿意初绽。啜一口茶香，低眉，浅笑，看谁家屋檐下一枝旁逸的杏花，淡雅洁白的花蕾，悄然孕育着饱满的喜悦。窗外，风是轻盈的，柔和的，像恋人深情的眸光，温润的滑过面庞；雨是空灵的、细软的，像一缕缕绕指的柔情，翩翩的渗透进心底。杨柳堆烟，燕语呢喃，桃花灼灼，疏香淡淡……最美人间四月天，伫立在满目葱郁的陌上，无论你从哪个角度去欣赏，它都宛若温婉迷人的清词，每一个散落的韵角里，无不点缀着光阴质朴而厚重的暖香。
            </div>
        </collapse-content>
    </collapse>

    <collapse>
        <collapse-trigger class="linked">
            展开标题2
        </collapse-trigger>
        <collapse-content>
            <div class="sp-collapse-content-container">
                时光，悄然流转，不觉，又是四月未央。静坐，沏一盏清茗，凭窗遥望，阳光怡暖，清风拂面，又是一年桃花漫舞，绿意初绽。啜一口茶香，低眉，浅笑，看谁家屋檐下一枝旁逸的杏花，淡雅洁白的花蕾，悄然孕育着饱满的喜悦。窗外，风是轻盈的，柔和的，像恋人深情的眸光，温润的滑过面庞；雨是空灵的、细软的，像一缕缕绕指的柔情，翩翩的渗透进心底。杨柳堆烟，燕语呢喃，桃花灼灼，疏香淡淡……最美人间四月天，伫立在满目葱郁的陌上，无论你从哪个角度去欣赏，它都宛若温婉迷人的清词，每一个散落的韵角里，无不点缀着光阴质朴而厚重的暖香。
            </div>
        </collapse-content>
    </collapse>

    <collapse>
        <collapse-trigger class="linked">
            展开标题3
        </collapse-trigger>
        <collapse-content>
            <div class="sp-collapse-content-container">
                时光，悄然流转，不觉，又是四月未央。静坐，沏一盏清茗，凭窗遥望，阳光怡暖，清风拂面，又是一年桃花漫舞，绿意初绽。啜一口茶香，低眉，浅笑，看谁家屋檐下一枝旁逸的杏花，淡雅洁白的花蕾，悄然孕育着饱满的喜悦。窗外，风是轻盈的，柔和的，像恋人深情的眸光，温润的滑过面庞；雨是空灵的、细软的，像一缕缕绕指的柔情，翩翩的渗透进心底。杨柳堆烟，燕语呢喃，桃花灼灼，疏香淡淡……最美人间四月天，伫立在满目葱郁的陌上，无论你从哪个角度去欣赏，它都宛若温婉迷人的清词，每一个散落的韵角里，无不点缀着光阴质朴而厚重的暖香。
            </div>
        </collapse-content>
    </collapse>
</collapses>


<divider>
    折叠组,可全部展开
</divider>

<collapses>
    <collapse>
        <collapse-trigger class="linked">
            展开标题1
        </collapse-trigger>
        <collapse-content>
            <div class="sp-collapse-content-container">
                时光，悄然流转，不觉，又是四月未央。静坐，沏一盏清茗，凭窗遥望，阳光怡暖，清风拂面，又是一年桃花漫舞，绿意初绽。啜一口茶香，低眉，浅笑，看谁家屋檐下一枝旁逸的杏花，淡雅洁白的花蕾，悄然孕育着饱满的喜悦。窗外，风是轻盈的，柔和的，像恋人深情的眸光，温润的滑过面庞；雨是空灵的、细软的，像一缕缕绕指的柔情，翩翩的渗透进心底。杨柳堆烟，燕语呢喃，桃花灼灼，疏香淡淡……最美人间四月天，伫立在满目葱郁的陌上，无论你从哪个角度去欣赏，它都宛若温婉迷人的清词，每一个散落的韵角里，无不点缀着光阴质朴而厚重的暖香。
            </div>
        </collapse-content>
    </collapse>

    <collapse>
        <collapse-trigger class="linked">
            展开标题2
        </collapse-trigger>
        <collapse-content>
            <div class="sp-collapse-content-container">
                时光，悄然流转，不觉，又是四月未央。静坐，沏一盏清茗，凭窗遥望，阳光怡暖，清风拂面，又是一年桃花漫舞，绿意初绽。啜一口茶香，低眉，浅笑，看谁家屋檐下一枝旁逸的杏花，淡雅洁白的花蕾，悄然孕育着饱满的喜悦。窗外，风是轻盈的，柔和的，像恋人深情的眸光，温润的滑过面庞；雨是空灵的、细软的，像一缕缕绕指的柔情，翩翩的渗透进心底。杨柳堆烟，燕语呢喃，桃花灼灼，疏香淡淡……最美人间四月天，伫立在满目葱郁的陌上，无论你从哪个角度去欣赏，它都宛若温婉迷人的清词，每一个散落的韵角里，无不点缀着光阴质朴而厚重的暖香。
            </div>
        </collapse-content>
    </collapse>

    <collapse>
        <collapse-trigger class="linked">
            展开标题3
        </collapse-trigger>
        <collapse-content>
            <div class="sp-collapse-content-container">
                时光，悄然流转，不觉，又是四月未央。静坐，沏一盏清茗，凭窗遥望，阳光怡暖，清风拂面，又是一年桃花漫舞，绿意初绽。啜一口茶香，低眉，浅笑，看谁家屋檐下一枝旁逸的杏花，淡雅洁白的花蕾，悄然孕育着饱满的喜悦。窗外，风是轻盈的，柔和的，像恋人深情的眸光，温润的滑过面庞；雨是空灵的、细软的，像一缕缕绕指的柔情，翩翩的渗透进心底。杨柳堆烟，燕语呢喃，桃花灼灼，疏香淡淡……最美人间四月天，伫立在满目葱郁的陌上，无论你从哪个角度去欣赏，它都宛若温婉迷人的清词，每一个散落的韵角里，无不点缀着光阴质朴而厚重的暖香。
            </div>
        </collapse-content>
    </collapse>
</collapses>
