<pull refresh loadmore v-ref:pull>
    <div slot="refresh" style="height:60px;" class="tc">
        <middle>
            <div class="sp-flex-box sp-flex-row">
                <div class="sp-flex-item sp-flex-1 tr">
                    <div style="display:inline-block; position: relative;" class="p">
                        <circle :height="35" :width="35" :stroke-width="2" :trail-width="2" :percent="a" stroke-color="#3cc51f" :animate="false"></circle>
                        <div class="word" :class="ac" v-html="ia"></div>
                    </div>
                </div>
                <div class="sp-flex-item sp-flex-2 f9 tl">
                    {{at}}
                </div>
            </div>
        </middle>
    </div>
    <div slot="loadmore"><circle :height="30" :width="30" :stroke-width="2" :trail-width="2" :percent="b"></circle></div>
    <photos>
        <panel v-for="item in list" class="mt10 mb10">
            <phead>Articles</phead>
            <pbody>
                <cell>
                    <chead style="width:40%;"><photo :src="item"></photo></chead>
                    <cbody>How does it work? Just put your image size after our URL and you'll get a placeholder.</cbody>
                </cell>
            </pbody>
            <pfoot>
                <cell link="on">
                    <cbody>查看更多</cbody>
                </cell>
            </pfoot>
        </panel>
    </photos>
</pull>
