<pull refresh>
        <div slot="refresh">refresh</div>
    <div style="overflow: hidden">
        <div>列表</div>
        <div class="sp-panel mt10 mb10" v-for="item in pulldowns">
            <div class="sp-panel-hd">Articles{{item}}</div>
            <div class="sp-panel-bd">
                <div class="sp-cell">
                    <div class="sp-cell-hd" style="width:40%;"><img class="b-lazy b-loaded"
                                                                    src="http://www.jq22.com/demo/tuupola-jquery_lazyload/img/bmw_m1_hood.jpg">
                    </div>
                    <div class="sp-cell-bd" onclick="alert(1)">How does it work? Just put your image size after our URL
                        and you'll get a placeholder.
                    </div>
                </div>
            </div>
            <div class="sp-panel-ft">
                <div class="sp-cell linked">
                    <div class="sp-cell-bd">查看更多</div>
                </div>
            </div>
        </div>
        <div class="sp-panel mt10 mb10">
            <div class="sp-panel-hd">Articles</div>
            <div class="sp-panel-bd">
                <div class="sp-cell">
                    <div class="sp-cell-hd" style="width:40%;"><img class="b-lazy b-loaded"
                                                                    src="http://www.jq22.com/demo/tuupola-jquery_lazyload/img/bmw_m1_hood.jpg">
                    </div>
                    <div class="sp-cell-bd" onclick="alert(1)">How does it work? Just put your image size after our URL
                        and you'll get a placeholder.
                    </div>
                </div>
            </div>
            <div class="sp-panel-ft">
                <div class="sp-cell linked">
                    <div class="sp-cell-bd">查看更多</div>
                </div>
            </div>
        </div>
        <div class="sp-panel mt10 mb10">
            <div class="sp-panel-hd">Articles</div>
            <div class="sp-panel-bd">
                <div class="sp-cell">
                    <div class="sp-cell-hd" style="width:40%;"><img class="b-lazy b-loaded"
                                                                    src="http://www.jq22.com/demo/tuupola-jquery_lazyload/img/bmw_m1_side.jpg">
                    </div>
                    <div class="sp-cell-bd">How does it work? Just put your image size after our URL and you'll get a
                        placeholder.
                    </div>
                </div>
            </div>
            <div class="sp-panel-ft">
                <div class="sp-cell linked">
                    <div class="sp-cell-bd">查看更多</div>
                </div>
            </div>
        </div>
        <div class="sp-panel mt10 mb10">
            <div class="sp-panel-hd">Articles</div>
            <div class="sp-panel-bd">
                <div class="sp-cell">
                    <div class="sp-cell-hd" style="width:40%;"><img class="b-lazy b-loaded"
                                                                    src="http://www.jq22.com/demo/tuupola-jquery_lazyload/img/viper_1.jpg">
                    </div>
                    <div class="sp-cell-bd">How does it work? Just put your image size after our URL and you'll get a
                        placeholder.
                    </div>
                </div>
            </div>
            <div class="sp-panel-ft">
                <div class="sp-cell linked">
                    <div class="sp-cell-bd">查看更多</div>
                </div>
            </div>
        </div>
        <div class="sp-panel mt10 mb10">
            <div class="sp-panel-hd">Articles</div>
            <div class="sp-panel-bd">
                <div class="sp-cell">
                    <div class="sp-cell-hd" style="width:40%;"><img class="b-lazy b-loaded"
                                                                    src="http://www.jq22.com/demo/tuupola-jquery_lazyload/img/viper_corner.jpg">
                    </div>
                    <div class="sp-cell-bd">How does it work? Just put your image size after our URL and you'll get a
                        placeholder.
                    </div>
                </div>
            </div>
            <div class="sp-panel-ft">
                <div class="sp-cell linked">
                    <div class="sp-cell-bd">查看更多</div>
                </div>
            </div>
        </div>
        <div class="sp-panel mt10 mb10">
            <div class="sp-panel-hd">Articles</div>
            <div class="sp-panel-bd">
                <div class="sp-cell">
                    <div class="sp-cell-hd" style="width:40%;"><img class="b-lazy"
                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                    data-src="http://www.jq22.com/demo/tuupola-jquery_lazyload/img/bmw_m3_gt.jpg">
                    </div>
                    <div class="sp-cell-bd">How does it work? Just put your image size after our URL and you'll get a
                        placeholder.
                    </div>
                </div>
            </div>
            <div class="sp-panel-ft">
                <div class="sp-cell linked">
                    <div class="sp-cell-bd">查看更多</div>
                </div>
            </div>
        </div>
        <div class="sp-panel mt10 mb10">
            <div class="sp-panel-hd">Articles</div>
            <div class="sp-panel-bd">
                <div class="sp-cell">
                    <div class="sp-cell-hd" style="width:40%;"><img class="b-lazy"
                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                    data-src="http://www.jq22.com/demo/tuupola-jquery_lazyload/img/corvette_pitstop.jpg">
                    </div>
                    <div class="sp-cell-bd">How does it work? Just put your image size after our URL and you'll get a
                        placeholder.
                    </div>
                </div>
            </div>
            <div class="sp-panel-ft">
                <div class="sp-cell linked">
                    <div class="sp-cell-bd">查看更多</div>
                </div>
            </div>
        </div>

        <div class="sp-panel mt10 mb10" v-for="item in pullups">
            <div class="sp-panel-hd">Articles{{item}}</div>
            <div class="sp-panel-bd">
                <div class="sp-cell">
                    <div class="sp-cell-hd" style="width:40%;"><img class="b-lazy"
                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                    data-src="http://www.jq22.com/demo/tuupola-jquery_lazyload/img/corvette_pitstop.jpg">
                    </div>
                    <div class="sp-cell-bd">How does it work? Just put your image size after our URL and you'll get a
                        placeholder.
                    </div>
                </div>
            </div>
            <div class="sp-panel-ft">
                <div class="sp-cell linked">
                    <div class="sp-cell-bd">查看更多</div>
                </div>
            </div>
        </div>
    </div>



</pull>
