<div>
    <div>
        <rater :value.sync="data3" slot="value"></rater>
    </div>
    <div>
        <rater :value.sync="data3" slot="value" :max=6 active-color="#04BE02"></rater>
    </div>


    <div>
        <rater :value.sync="data4" slot="value" disabled></rater>
    </div>
    <div>
        <rater :value.sync="data41" slot="value" active-color="#04BE02" disabled></rater>
    </div>
    <div>
        <rater :value.sync="data42" slot="value" active-color="#04BE02" :font-size=15 disabled></rater>
    </div>
</div>