<div>
    <div class="sp-cell-group mt15">
        <div class="sp-cell">
            <div class="sp-cell-bd">简单示例</div>
            <div class="sp-cell-ft">
                <rater :value.sync="data3"></rater>
            </div>
        </div>
        <div class="sp-cell">
            <div class="sp-cell-bd">变化的长度</div>
            <div class="sp-cell-ft">
                <rater :value.sync="data3" :max=6></rater>
            </div>
        </div>
        <div class="sp-cell">
            <div class="sp-cell-bd">自定义选中颜色</div>
            <div class="sp-cell-ft">
                <rater :value.sync="data3" active-color="#04BE02"></rater>
            </div>
        </div>
        <div class="sp-cell">
            <div class="sp-cell-bd">自定义未选中颜色</div>
            <div class="sp-cell-ft">
                <rater :value.sync="data3" gray-color="#04BE02"></rater>
            </div>
        </div>
    </div>


    <div class="sp-cell-group mt15">
        <div class="sp-cell">
            <div class="sp-cell-bd">disabled</div>
            <div class="sp-cell-ft">
                <rater :value.sync="data4" disabled></rater>
            </div>
        </div>
        <div class="sp-cell">
            <div class="sp-cell-bd">自定义fontSize</div>
            <div class="sp-cell-ft">
                <rater :value.sync="data42" active-color="#04BE02" :font-size=15 disabled></rater>
            </div>
        </div>
    </div>

    <div class="sp-cell-group mt15">
        <div class="sp-cell">
            <div class="sp-cell-bd">自定义图标</div>
            <div class="sp-cell-ft">
                <rater :value.sync="data5" star="♣"></rater>
            </div>
        </div>
        <div class="sp-cell">
            <div class="sp-cell-bd">自定义图标二</div>
            <div class="sp-cell-ft">
                <rater :value.sync="data5" star="牛"></rater>
            </div>
        </div>
    </div>

</div>