<div class="sp-1px-b f8 p10">ratio是展示当前宽度与高度的一个比例模型。
    <br />通过ratio标签和标签上的属性scale来控制。下面展示了不同比例的模型。</div>

<flex class="tc">
    <flex-1>
        <ratio class="tc wide" style="background-color:#ec577f;color:#fff;" :scale="1">
            <middle>1:1</middle>
        </ratio>
    </flex-1>
    <flex-1>
        <ratio class="tc wide" style="background-color:#54f47b;color:#fff;" :scale="2">
            <middle>1:2</middle>
        </ratio>
    </flex-1>
    <flex-1>
        <ratio class="tc wide" style="background-color:#68a7d6;color:#fff;" :scale=".5">
            <middle>1:0.5</middle>
        </ratio>
    </flex-1>
    <flex-1>
        <ratio class="tc wide" style="background-color:#c8ca0e;color:#fff;" :scale="1.5">
            <middle>1:1.5</middle>
        </ratio>
    </flex-1>
</flex>