<div class="sp-flex-box sp-flex-row">
    <div class="sp-flex-item sp-flex-1 tc  ">
        <div class="sp-spinner-line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="sp-flex-item sp-flex-1 tc  ">
        <div class="sp-spinner-ball-pulse ">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

</div>

<div class="sp-flex-box sp-flex-row">
    <div class="sp-flex-item sp-flex-1 tc  ">
        <div class="sp-spinner-ball-newton ">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>

    <div class="sp-flex-item sp-flex-1 tc f8">
        <div class="sp-spinner-ios">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div class="sp-flex-box sp-flex-row">
    <div class="sp-flex-item sp-flex-1 tc  ">

    </div>

    <div class="sp-flex-item sp-flex-1 tc f8">

    </div>
</div>