.sp-radio {
    display       : inline-block;
    vertical-align: middle;
    color         : #C9C9C9;
    .iconfont {
        font-size  : 1.5rem;
        width      : 1.5rem;
        line-height: 1;
        display    : inline-block;
        height     : 1.5rem;
    }
    .icon-radio {
        &:before {
            content: "\e62b";
        }
    }
    &.checked {
        .icon-radio {
            color: #09BB07;
            &:before {
                content: "\e62a";
            }
        }
    }
    &.noborder {}
}
.sp-radio-noborder {
    .iconfont {
        font-size: 1.5rem;
    }
    .icon-radio {
        width : 1.5rem;
        height: 1.5rem;
        &:before {
            content: " ";
        }
    }
    &.checked {
        .icon-radio {
            color: #09BB07;
            &:before {
                content: "\e629";
            }
        }

    }
}
