.sp-range {
    display   : block;
    height    : 1px;
    margin    : 1.5em 0;
    background: #ccc;
    position  : relative;
    dt {
        display         : block;
        width           : 2em;
        height          : 2em;
        background-color: #fff;
        border-radius   : 50%;
        box-shadow      : 0 1px 3px rgba(0,0,0,.4);
        position        : absolute;
        left            : 0;
        top             : 50%;
        margin-top      : -1em;
        margin-left     : -1em;
    }
    dl {
        display         : block;
        height          : 1px;
        background-color: #09BB07;
    }
}
