<div class="sp-search">
    <div class="sp-search-trigger" v-show="opened === false" v-on:click="trigger(true)">
        <div class="sp-search-fake-input"></div>
        <div class="icon-talk"></div>
    </div>
    <div class="sp-search-box" v-show="opened">
        <div class="sp-search-input">
            <form action='' method='post' v-on:submit="prevent">
                <input class="search-input" v-model="text" type="text" :placeholder="placeholder" v-el:input>
            </form>
            <span class="sp-search-cancel">取消</span>
        </div>
        <div class="sp-search-result">
            <slot></slot>
        </div>
    </div>
</div>
